log:
  level: info
  file: ""

api:
  http: "0.0.0.0:9091"

include:
  - "./data.yaml"
  - "./dns.yaml"

plugins:
  # 转发组 - 国内
  - tag: forward_cn_group
    type: fallback
    args:
      primary: ali
      secondary: dnspod
      threshold: 50
      always_standby: true

  # 转发组 - 国外/代理
  - tag: forward_remote_group
    type: fallback
    args:
      primary: google
      secondary: cloudflare
      threshold: 100
      always_standby: true

  # 不在名单中的域名
  - tag: sequence_not_in_list
    type: sequence
    args:
      - exec: $ecs_cn
      - exec: $forward_remote_group

      # A/AAAA 无 IP 或者是 CN IP → 国内再查一遍（可选：不带 ECS）
      - exec: $no_ecs

      - matches:
        - "qtype 1 28"
        - "!resp_ip 0.0.0.0/0 ::/0"
        exec: $forward_cn_group

      - matches:
        - "qtype 1 28"
        - "resp_ip $geoip_cn"
        exec: $forward_cn_group

      # 国内查完如果无结果，返回
      - matches:
        - "qtype 1 28"
        - "!resp_ip 0.0.0.0/0 ::/0"
        exec: return

      # 国内查完：若是 CN IP，接受返回
      - matches: "resp_ip $geoip_cn"
        exec: return

      # 其他情况：fakeip
      - exec: drop_resp
      - exec: $forward_fakeip
      - exec: return

  # 主逻辑
  - tag: sequence_main
    type: sequence
    args:
      # 1. geosite_local 交给 local 去解析
      - matches: qname $geosite_local
        exec: $local
      - matches: qname $geosite_local
        exec: accept

      # 2. geosite_custom 直接读取里面的解析地址
      - exec: $geosite_custom
      - matches: has_resp
        exec: accept

      # 3. geosite_block 直接返回无法解析
      - matches: qname $geosite_block
        exec: reject 3
      - matches: qname $geosite_block
        exec: return

      # 4. geosite_proxy 走 fakeip 去解析
      - matches: qname $geosite_proxy
        exec: $forward_fakeip
      - matches: has_resp
        exec: accept

      # 5. geosite_cn 走 ali 和 dnspod 去解析
      - matches: qname $geosite_cn
        exec: $forward_cn_group
      - matches: has_resp
        exec: accept

      # 6. 剩下的不在名单中的域名 兜底逻辑
      - exec: $sequence_not_in_list
      - matches: has_resp
        exec: accept

  # 启动服务器
  - tag: udp_main
    type: udp_server
    args:
      entry: sequence_main
      listen: ":53"

  - tag: tcp_main
    type: tcp_server
    args:
      entry: sequence_main
      listen: ":53"